{% extends 'base.html.twig' %}
{% set asset_path = 'resources/prueba/primeraBundle/' %}

{% block content%}
<div class="container">
    <div class="card ">
        <div class="card-content indigo lighten-4 ">
            <h1 class="center">OPCIONES</h1>
            <div class="row">
                <form class="col s12" id="#form-cuenta">
                    <div class="row">
                        <div class="input-field col s6">
                            <input  id="ncuenta" type="number" class="validate">
                            <label for="ncuenta " class="white-text">Ingresa el numero de cuenta</label>

                            <span id="errorCuenta" class="error-message"></span>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <a id="cargarInformacion"class="waves-effect waves-light btn rounded-form"><i class="material-icons left">refresh</i>Cargar informacion</a>
                        </div>
                    </div>


                </form>
            </div>
            <h4 id="saldoDisponible"></h4>
        </div>
        <div class="card-tabs ">
            <ul class="tabs tabs-fixed-width ">
                <li class="tab "><a class="" href="#movimientos"><i class="material-icons">view_headline</i>Historial de movimientos</a></li>
                <li class="tab"><a class="active" href="#retiro"><i class="material-icons">arrow_upward</i>Retirar</a></li>
                <li class="tab"><a class="" href="#deposito"><i class="material-icons">arrow_downward</i>Depositar</a></li>
            </ul>
        </div>
        <div class="card-content grey lighten-4">
            <div id="movimientos">
                <table class='table striped bordered hover' id="historyOfMoves">
                    <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Numero de cuenta</th>
                        <th>Importe</th>
                        <th>Fecha</th>
                        <th>Tipo</th>

                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            </div>
            <div id="retiro" class="background-white"><h4>Retira</h4>
                <div class="row">
                    <form class="col s12" id="form-retiro">

                            <div class="input-field col  s12">
                                <i class="material-icons prefix">attach_money
                                </i>
                                <input id="importeRetiro" type="number" class="validate" step="any">
                                <label for="importeRetiro">Importe</label>

                            </div>

                        <span id="errorRetiro" class="error-message"></span>
                    </form>

                </div>
                <div class="row">
                    <div class="col">
                        <a id="retirar"class="waves-effect waves-light btn "><i class="material-icons left">call_made</i>Retirar</a>
                    </div>
                </div>

            </div>
            <div id="deposito">
                <div id="retiro" class="background-white"><h4>Depositar</h4>
                    <div class="row">
                        <form class="col s12" id="form-abono">

                            <div class="input-field col  s12">
                                <i class="material-icons prefix">attach_money
                                </i>
                                <input id="importeAbono" type="number" class="validate" step="any">
                                <label for="importeAbono">Importe</label>

                            </div>
                            <span id="errorAbono" class="error-message"></span>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a id="depositar" class="waves-effect waves-light btn"><i class="material-icons left">call_received</i>DEPOSITAR</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{%endblock%}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset(asset_path ~ 'js/primeraBundle.js') }}"></script>
    <script>
        var url_getMovimientos= "{{ path('getMovimientos') }}"
        var url_doAbono= "{{ path('doAbono') }}"
        var url_doRetiro= "{{ path('doRetiro') }}"

    </script>


{% endblock %}


